<!DOCTYPE html>
<html>
	
	<head>
		<title>Bookmark manager</title>
  	<link rel="stylesheet" type="text/css" href="stylesheets/css_reset.css"> 
  	<link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">  
	</head>

	<header>

		<div id="user-links">
			<% if current_user %>
				<span id="welcome-message"> Welcome, <%= current_user.email %> </span>
			<%else%> 
				<span id="welcome-message"> Welcome to the bookmark manager </span>
			<% end %>
		</div>

		<div id="sign_in">
			<a href="/sessions/new">Log In</a>
			<a href="/users/new">Sign Up</a>
			<% if current_user %>
				<form class="sign_out" action="/sessions" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign Out">
				</form>
			<% end %>
		</div>

	</header>

	<body>
		

		<% if flash[:notice] %>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>

		<div id="new-link">
			<form action="/links" method="post">
				Url: <input type="text" name="url">
				Title: <input type="text" name="title">
				Tags: <input type="text" name="tags">
				<input id="button" type="submit" value="Add Link">
			</form>
		</div>

		<div id="links">
			<ul>
		  	<% @links.each do |link| %>
		    	<li>
		    		<a href="<%= link.url %>"><%= link.title %></a>
		    	</li>
		  	<% end %>
			</ul>
		</div>

	</body>

</html>


