<!DOCTYPE html>
<html>
	
	<head>
		<title>Bookmark manager</title>
  	<link rel="stylesheet" type="text/css" href="public/stylesheets/mystyle.css">  
	</head>

	<body>
		<h1>Welcome to the bookmark manager</h1>
	</body>

</html>


