<head>
		<title>Forgotten Password</title>
  	<link rel="stylesheet" type="text/css" href="../stylesheets/mystyle.css">  
</head>

<body>

	<h1> Please Enter your Email Address: </h1>

	<form action="/users/forgotten" method="post">
		Email: <input type="text" name='email'>
		<input type="submit" value="Submit">
	</form>

	<h5>An email with a link to reset your password will be sent to you, if the email address you submit matches one on our database!</h5>

</body>
