<head>
		<title>Enter New Password</title>
  	<link rel="stylesheet" type="text/css" href="../stylesheets/mystyle.css">  
</head>

<body>

	<h1> Please Enter your New Password: </h1>

	<form action="/users/reset_password" method="post">
		Password: <input name="password" type="password">
		Confirm Password: <input name="password_confirmation" type="password">
		<input type="hidden" name="token" value="<%= params[:token] %>">
		<input type="submit" value="Submit">
	</form>

</body>
